{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Edit Participant</h1>

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participant_index') }}">back to list</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
