<form method="post" action="{{ path('app_promocode_delete', {'id': promocode.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promocode.id) }}">
    <button class="btn">Delete</button>
</form>
