{{ form_start(form) }}
    {{ form_widget(form) }}
    <button onclick="createNotification('registration', 'congratulation you are successfully registred !!')" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
