{% extends 'base.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
    <h1>Create new Artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('app_artiste_index') }}">back to list</a>
{% endblock %}
