{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1>Create new Commande</h1>

    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('app_commande_index') }}"class="px-4 py-2 text-sm font-medium leading-5
    text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active
    :bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">back to list</a>
{% endblock %}
