{% extends 'base.html.twig' %}

{% block title %}Edit LignePanier{% endblock %}

{% block body %}
    <h1>Edit LignePanier</h1>

    {{ include('ligne_panier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ligne_panier_index') }}">back to list</a>

    {{ include('ligne_panier/_delete_form.html.twig') }}
{% endblock %}
