<form method="post" action="{{ path('app_enchere_delete', {'ide': enchere.ide}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enchere.ide) }}">
    <button class="btn">Delete</button>
</form>
