<form method="post" action="{{ path('app_evemt_delete', {'id': evemt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evemt.id) }}">
    <button class="btn">Delete</button>
</form>
