{% extends 'AjoutEvemt.html.twig.' %}

{% block title %}New Evemt{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
{#    {{ form_start(form) }}#}
    <h1>Create new Evemt</h1>


    {{ include('evemt/_form.html.twig') }}

    <a href="{{ path('app_evemt_index') }}">back to list</a>
{% endblock %}
