{% extends 'index.html.twig' %}

{% block title %}New Article{% endblock %}

{% block contenu %}
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">back to list</a>
{% endblock %}
