{% extends 'base.html.twig' %}

{% block title %}Edit Favori{% endblock %}

{% block body %}
    <h1>Edit Favori</h1>

    {{ include('favori/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_favori_index') }}">back to list</a>

    {{ include('favori/_delete_form.html.twig') }}
{% endblock %}
