{% extends 'base.html.twig' %}

{% block title %}Favori index{% endblock %}

{% block body %}
    <h1>Favori index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favori in favoris %}
            <tr>
                <td>{{ favori.id }}</td>
                <td>
                    <a href="{{ path('app_favori_show', {'id': favori.id}) }}">show</a>
                    <a href="{{ path('app_favori_edit', {'id': favori.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_favori_new') }}">Create new</a>
{% endblock %}
